body {
  background-color: #EDF060;
  color: #171219;
  margin: 0;
}

header {
  background-color: #F0803C;
  text-align: center;
  font-size: 2em;
  font-family: 'Righteous', serif;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #225560;
  overflow: auto;
}

nav ul {
  list-style: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: #dddddd;
  text-decoration: none;
  font-family: sans-serif;
  border-right: 1px solid #dddddd;
}

nav a:hover {
  background-color: #310D20;
}

main {
  min-height: 300px;
}
footer {
  border-top: 1px solid #171219;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}
footer a {
  color: #171219;
}
footer a:hover {
  color: #F0803C;
}
